# Binaries
/bin
/dist

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib1
*.test
*.out

# Wails / Build
/src/ui/bin/
/src/ui/build/bin/
/src/ui/build/linux/*.desktop
/src/ui/build/linux/appimage/build/
.task/
/src/ui/.task/
/src/ui/frontend/dist/
/src/ui/frontend/node_modules/
/src/ui/frontend/bindings/
/src/ui/frontend/.svelte-kit/
/src/ui/frontend/.vercel/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
