# Binaries
/bin

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib1
*.test
*.out

# Wails / Build
ui/bin/
ui/build/bin/
.task/
ui/.task/
ui/frontend/dist/
ui/frontend/node_modules/
ui/frontend/bindings/
ui/frontend/.svelte-kit/
ui/frontend/.vercel/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
